---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<button class="rounded-lg bg-white px-3 py-2 text-base font-medium text-black hover:opacity-80 ease-in-out duration-150">
    {title}
</button>