---
interface Props {
    title: string;
    url: string;
}
const { title } = Astro.props;
const { url } = Astro.props;
---

<a href={url} class="text-base font-light text-gray-400 hover:text-white ease-in-out duration-150 flex items-center">{title}</a>