---
import Button from "./Button.astro"
---
<section class="flex lg:flex-row  flex-col items-center justify-between px-20 pt-2 bg-gradient-to-b from-slate-900 to-black lg:h-screen lg:w-screen" id="services">
    <div class="flex items-center justify-end w-full">
        <img src="/img/Banner3.png" alt="Doctor AI Banner" />
    </div>
    <div class="flex flex-col w-full space-y-5 justify-center items-center lg:justify-normal lg:items-start py-10">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Servicios</h2>
        <p class="mb-5 font-light sm:text-xl text-gray-400 text-center">Chat-bot impulsado con IA para atención médica personalizada. </p>
        <Button title="Conocer más" href=""/>
    </div>  
</section>
